html,
body {
    height: 100vh;
    overflow: hidden;
    --uno: font-ping;
    background-color: #1a1a2e;
    color: #fff;
}

html {
    font-size: 14px;
}

body {
    font-size: 16px;
}

.dark {
    color-scheme: dark;
}
